<h3>List of emails</h3>

<table width='600px'>
  <tr>
    <th width='25%'>Name</th>
    <th width='35%'>Email</th>
    <th width='10%'></th>
    <th width='10%'></th>
    <th width='10%'></th>
  </tr>

<% @lists.each do |list| %>
  <tr>
    <td><%= list.name %></td>
    <td><%= list.email %></td>
    <td><%= link_to 'Show', list %></td>
    <td><%= link_to 'Edit', edit_list_path(list) %></td>
    <td><%= link_to 'Delete', list, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add email', new_list_path %>
