<!DOCTYPE html>
<html>
<head>
  <title>Newsletter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? %>
    Signed in as <%= current_user.email %> | <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <%= yield %>
  <% elsif request.path=="/users/sign_in" %>
    <%= yield %>
  <% else %>
    You must <%= link_to "Sign in to continue.", new_user_session_path%>
  <% end %>


</body>
</html>
